footer a {
  text-decoration: none !important;
  color: black !important;
}

footer a:hover {
  color: #dc3545;
}

.subscribe-drawer {
  position: fixed;
  top: 0;
  right: -500px;
  width: 450px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  transition: right 0.3s ease-in-out;
  z-index: 1051;
  overflow-y: auto;
}

.nb-button {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  border: 2px solid #cf0a2c;
  color: #cf0a2c;
  background-color: transparent;
  transition: all .2s;
}

.nb-button:hover {
  background-color: #cf0a2c;
  color: white;
  /* border-color: #cf0a2c; */
}

.subscribe-drawer.open {
  right: 0;
}

.drawer-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

footer ul li {
  margin-bottom: 0.5rem;
}

.footer-link {
  color: black !important;
  text-decoration: underline !important; 
}

.footer-link:hover {
  color: #dc3545 !important; 
}
